/*site*/
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/NotoSerif.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/NotoSerif.woff') format('woff'), 
  url('../fonts/NotoSerif.ttf')  format('truetype'), 
  url('../fonts/NotoSerif.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
    background: #fff url(../img/bg.png) repeat 0 0;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
}
/*Absolute*/
#wrapper {
    padding-bottom: 145px;
    position: relative;
}
#footer {
    bottom: 0;
    position: absolute !important;
}
/*Absolute*/
.header-top{
    background: #008fe6 url(../img/bg-firm-header.png) no-repeat top right;
    background: url(../img/bg-firm-header.png) no-repeat top right, linear-gradient(to bottom, #008fe6, #1449a0);
    background: url(../img/bg-firm-header.png) no-repeat top right, -webkit-linear-gradient(to bottom, #008fe6, #1449a0);
    background: url(../img/bg-firm-header.png) no-repeat top right, -moz-linear-gradient(to bottom, #008fe6, #1449a0);

    position: relative;
    width:100%;
    height: 100px;
    overflow: hidden;
}
.wrapp{
    width: 1000px;
    margin: 0 auto;
}
.logo {
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    margin-top: 28px;
    overflow: hidden;
    width: 280px;
}
.logo a {
    background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 52px;
    text-indent: -9999em;
    width: 280px;
}
.right-header {
    display: inline-block;
    float: right;
    height: 100px;
    position: relative;
    width: 50%;
}
.list-lang{
    display: inline-block;
    float: right;
    margin-top: 7px;
}
.list-lang a.vi {
    background: rgba(0, 0, 0, 0) url("../img/icon-lang.png") repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    width: 28px;
    margin-right: 3px;
    text-indent: -9999em;
}
.list-lang a.en {
    background: rgba(0, 0, 0, 0) url("../img/icon-lang.png") repeat scroll -31px 0;
    display: inline-block;
    height: 20px;
    width: 29px;
    text-indent: -9999em;
}
.right-header .search {
    background: #fff none repeat scroll 0 0;
    border-radius: 15px;
    bottom: 8px;
    display: inline-block;
    height: 25px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 185px;
}
.right-header .search input.keyword {
    border: medium none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: #222;
    font-style: italic;
    height: 25px;
    width: 145px;
}
.right-header .search .btnSearch{
    background: url(../img/icon-search.png) no-repeat center center;
    height: 25px;
    width: 30px;
    display: inline-block;
    text-indent: -9999em;
    float: right;
    cursor: pointer;
}
.bg-menu{
    background-color: #12428a;
    background-image: linear-gradient(to bottom, #114189, #021e66);
    background-image: -webkit-linear-gradient(to bottom, #114189, #021e66);
    background-image: -moz-linear-gradient(to bottom, #114189, #021e66);
    box-shadow: 0 2px 3px #1b4b93 inset;

    border-top: 1px solid #0c3c84;
    display: inline-block;
    height: 32px;
    width: 100%;
}
.bg-menu li {
    display: inline-block;
    line-height: 31px;
    padding-right: 55px;
    position: relative;
}
.bg-menu li a {
    color: #fff;
    font-family: tahoma;
    font-size: 13px;
    font-weight: bold;
}
.bg-menu li a:hover{
    color: #fff;
    border-bottom: 2px solid #ff6600;
}
.bg-menu li ul.submenu{
    position: absolute;
    background: #0f428d;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    display: none;
    z-index: 2;
    width: 250px;
}
.bg-menu li:hover ul.submenu{
    display: block;
}
.bg-menu li .submenu li {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.bg-menu li .submenu li a {
    font-weight: normal;
}
.bg-menu li .submenu li a:hover{
    border-bottom: 1px solid #ff6600;
}
.bg-content {
    #background: #fefeed;
    display: inline-block;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 20px;
}
.box-left{
    width: 230px;
    display: inline-block;
    float: left;
}
.item-box{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    clear: both;
}
.item-box .title-box{
    background: #12428a;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}
.item-box .title-box a {
    color: #fff;
}
.item-box .content-box{
    clear: both;
    background: #eeeeee;
}
.item-box .content-box ul {
    border: 1px solid #e2e2e2;
}
.item-box .content-box li{
     border-bottom: 1px solid #e2e2e2;
}
.item-box .content-box li:last-child{
    border-bottom: none;
}
.item-box .content-box a {
    background: rgba(0, 0, 0, 0) url("../img/icon-firm.png") no-repeat scroll left center;
    color: #222;
    display: inline-block;
    font-weight: bold;
    margin-left: 8px;
    padding: 10px 0 10px 22px;
    width: 93%;
}
.item-box .content-box .submenu {
    background: #f2f2f2;
    border: none;
}
.item-box .content-box .submenu a {
    font-weight: normal;
    background: none;
}

.item-box .content-box a:hover{
    text-decoration: underline;
}
.item-box .box-link{
    background: url(../img/bg-box-link.png) no-repeat center center;
    width: 100%;
    height: 87px;
    line-height: 87px;
    text-align: center;
}
.item-box .box-link a{
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    display: block;
}
.item-box .item-ads{
    margin-bottom: 10px;
    clear: both;
}
.item-box .item-ads img{
    width: 100%;
}
.box-center {
    display: inline-block;
    float: left;
    margin: 0 10px;
    width: 590px;
}
.box-center .box-slider .item-slider{
    position: relative;
}
.list-item-slider {
    clear: both;
    display: inline-block;
    height: 154px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}
.list-item-slider ul{
    margin-right: -50px;
}
.list-item-slider ul li {
    display: inline-block;
    float: left;
    margin-right: 11px;
    width: 188px;
}
.list-item-slider ul li img{
    width: 100%;
    overflow: hidden;
    height: 110px;
}
.list-item-slider ul li .title{
    clear: both;
    margin-top: 5px;
    height: 35px;
    overflow: hidden;
    width: 100%;
}
.list-item-slider ul li .title a{
    color: #555;
}
.list-item-slider ul li .title a:hover{
    text-decoration: underline;
}
.banner-center{
    clear: both;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.banner-center img{
    width: 100%;
}
.content-post-cat{
    clear: both;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.content-post-cat ul{
    margin-right: -20px;
}
.content-post-cat ul li {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 285px;
}
.content-post-cat .title-cat{
    display: inline-block;
    border-bottom: 2px solid #abc9ff;
    width: 100%;
    position: relative;
}
.content-post-cat .title-cat a{
    color: #09267a;
    font-size: 18px;
    display: block;
    clear: both;
}
.content-post-cat .title-cat span{
    position: absolute;
    bottom: -2px;
    width: 45%;
    display: inline-block;
    border-bottom: 2px solid #ff6600;
    clear: both;
}
.content-post-cat .content-cat {
    clear: both;
    position: relative;
    border: 1px solid #e2e2e2;
}
.content-post-cat .content-cat .thumb{
    position: relative;
    height: 182px;
    overflow: hidden;
    width: 100%;
}
.content-post-cat .content-cat img {
    height: 100%;
    width: 100%;
}
.content-post-cat .content-cat .title {
    background: rgba(0, 0, 0, 0) url("../img/bg-cat-title.png") repeat scroll 0 0;
    bottom: 0px;
    height: auto;
    overflow: hidden;
    position: absolute;
}
.content-post-cat .content-cat .title a {
    display: inline-block;
    padding: 1px 2px;
    width: 100%;
    font-weight: bold;
    color: #fff;
}
.content-post-cat .content-cat .title a:hover{
    color: #fff;
    text-decoration: underline;
}
.content-post-cat .list-content-cat {
    display: inline-block;
    width: 100%;
    border-top: none;
    overflow: hidden;
}
.content-post-cat .list-content-cat li {
    border-bottom: 1px dashed #e2e2e2;
    clear: both;
    height: 42px;
    overflow: hidden;
}
.content-post-cat .list-content-cat li:last-child{
    border-bottom: none;
}
.content-post-cat .list-content-cat li a {
    background: rgba(0, 0, 0, 0) url("../img/dot-red.png") no-repeat scroll 0px 10px;
    color: #555;
    display: block;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 15px;
}
.content-post-cat .list-content-cat li a:hover{
    color: #337ab7;
}
.box-right{
    width: 230px;
    display: inline-block;
    float: right;
}
.item-box.ext .content-box a {
    background: rgba(0, 0, 0, 0) url("../img/icon-firm-right.png") no-repeat scroll left center;
    color: #222;
    display: inline-block;
    font-weight: bold;
    margin-left: 8px;
    padding: 10px 0 10px 22px;
    width: 93%;
}
.box-right .video{
    border: 2px solid #e2e2e2;
    overflow: hidden;
    width: 100%;
}
.box-right .video img{
    width: 100%;
}
.bg-footer{
    background: #0168bf url(../img/bg-firm-footer.png) no-repeat top right;
    width:100%;
    padding: 15px 0 10px 0px;
    display: inline-table;
}
.address {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 14px;
    width: 50%;
}
/*detail*/
.bg-content-detail{
    background: #fff;
    display: inline-block;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 20px;
}
.box-center-right{
    width: 830px;
    display: inline-block;
    float: right;
}
.link-breadcrumb {
    background: #eaecef none repeat scroll 0 0;
    padding: 5px 8px;
    text-transform: none;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}
.link-breadcrumb a {
    display: inline-block;
    font-size: 12px;
    color: #333;
}
.link-breadcrumb a:hover {
    text-decoration: underline;
}
.box-content-view {
    margin-top: 5px;
    clear: both;
}
.box-content-view .title{
    border-bottom: 2px solid #abc9ff;
    display: inline-block;
    position: relative;
    width: 100%;
}
.box-content-view .title a {
    clear: both;
    color: #09267a;
    display: block;
    font-size: 18px;
}
.box-content-view .title span {
    border-bottom: 2px solid #ff6600;
    bottom: -2px;
    clear: both;
    display: inline-block;
    position: absolute;
    width: 30%;
}
.line-save {
    clear: both;
    margin-top: 10px;
}
.line-save div{
     margin-right: 20px;
}
.line-save .bookmark {
    background: rgba(0, 0, 0, 0) url("../img/bookmark.png") no-repeat scroll 3px 5px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    padding: 2px 7px 2px 20px;
    vertical-align: top;
    cursor: pointer;
}
.line-save .print {
    background: rgba(0, 0, 0, 0) url("../img/icon-print.png") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
    cursor: pointer;
}
.line-save .date-created{
    display: inline-block;
    float: right;
    color: #555;
    float: right;
    font-size: 12px;
    font-style: italic;
}
.line-save .print {
    background: rgba(0, 0, 0, 0) url("../img/icon-print.png") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
}

.line-save .view {
    background: rgba(0, 0, 0, 0) url("../img/icon-view.jpg") no-repeat scroll 0 4px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
    cursor: pointer;
}

.line-save .commment {
    background: rgba(0, 0, 0, 0) url("../img/icon-commnet.jpg") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
    cursor: pointer;
}
.line-save .back {
    background: rgba(0, 0, 0, 0) url("../img/icon-back.png") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
    cursor: pointer;
}
.line-intro-view{
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    color: #222;
    text-align: justify;
    font-weight: bold;
}
.line-content-view{
    margin-top: 10px;
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    color: #222;
    text-align: justify;
}
.line-content-view p{
    margin-bottom: 10px;
    font-size: 14px;
    color: #222;
}
.line-save.ext{
    margin-top: 20px;
    clear: both;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}
.title-same{
    border-bottom: 2px solid #abc9ff;
    display: inline-block;
    position: relative;
    width: 100%;
    color: #0a2679;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
}
.title-same span {
    border-bottom: 2px solid #ff6600;
    bottom: -2px;
    clear: both;
    display: inline-block;
    left: 0;
    position: absolute;
    width: 15%;
}
.content-same-post{
    clear: both;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.content-same-post ul{
    width: 48%;
    float: left;
    margin-right: 10px;
}
.content-same-post ul li{
    display: inline-block;
    width: 100%;
    clear: both;
}
.content-same-post ul li a {
    background: rgba(0, 0, 0, 0) url("../img/dot-red.png") no-repeat scroll 0px 9px;
    color: #333333;
    display: block;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 15px;
}
.item-box.video{
    background: #ececec;
}
.list-video-other {
    padding: 0 5px;
}
.item-box .video-other li {
    background: url("../img/icon-video.png") no-repeat scroll left 2px;
    border-bottom: 1px solid #f2f2f2;
    clear: both;
    margin-bottom: 5px;
    padding-bottom: 4px;
    padding-left: 26px;
}
.item-box.video .video-other li:last-child{
    border-bottom: none;
}
.item-box.images .jcarousel-control-prev {
    border-radius: 100%;
    height: 20px !important;
    line-height: 19px !important;
    left: 0;
    margin-top: -10px;
    width: 20px;
    color: #fff;
    opacity: 0.8
}
.item-box.images .jcarousel-control-next{
    border-radius: 100%;
    height: 20px !important;
    line-height: 19px !important;
    right: 0;
    margin-top: -10px;
    width: 20px;
    color: #fff;
    opacity: 0.8
}
.item-box.images .item-img {
    clear: both;
    margin-bottom: 10px;
}
.item-box.images  .jcarousel{
    width: 100%!important;
}
.item-box.images  .jcarousel li {
    height: 45px!important;
    overflow: hidden!important;
}
.item-box.images  .jcarousel li img {
    width: 100%!important;
}
.item-box.images .jcarousel-wrapper {
    margin-top: -3px;
}
.item-box.images .item-first img {
    width: 100% !important;
}
#block-site-block-content .content-post-cat > ul > li {
    height: 400px;
    margin-bottom: 15px;
    overflow: hidden;
}
#block-site-block-content .content-post-cat > ul > li .wrapp-item-post{
    border: 1px solid #e2e2e2;
    margin-top: 10px;
    background: #f4f4f4;
}
.bx-wrapper .sliderPostHot img{
    height: 300px!important;
}
.bx-wrapper .bx-controls-direction{
    display: none;
}
.bx-wrapper:hover .bx-controls-direction{
    display: block;
}
.bx-wrapper .bx-controls-direction a{
    background: #337ab7;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    opacity: 0.8;
    text-align: center;
    text-indent: 0 !important;
}
.bx-wrapper .bx-controls-direction .bx-prev{
    left: 10px;
}
.bx-wrapper .bx-controls-direction .bx-next{
    right: 10px;
}
.slide.item-slider {
    position: relative;
    height: 380px;
    width: 100% !important;
    overflow: hidden;
}
.bx-wrapper .title-slider {
    bottom: 0;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.bx-wrapper .title-slider a {
    color: #222;
    display: inline-block;
    font-size: 18px;
    padding: 5px 0px;
    width: 100%;
    font-weight: bold;
}
.bx-wrapper .title-slider a:hover{
    color: #337ab7;
}
.left-slider .bx-wrapper .bx-controls-direction a{
    top: 38%;
}
.bx-wrapper .img {
    height: 300px;
    overflow: hidden;
}
.intro-slider {
    font-size: 13px;
    height: 38px;
    overflow: hidden;
}
.not-front .bg-content {
    min-height: 350px;
    background: none;
}
.box-content-list-view h1.title-news {
    border-left: 3px solid #12428a;
    clear: both;
    color: #333;
    font-size: 18px;
    font-style: italic;
    height: 20px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 8px;
    padding-left: 5px;
    display: none;
}
.item-news.item-1 .post-img img {
    width: 100%;
}
.item-news.item-1 h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.item-news.item-1 .post-content {
    color: #222;
    font-size: 13px;
}
.item-news.item-1 {
    border-bottom: 1px solid #ddd;
    clear: both;
}
.item-news.item-1 .post-img {
    clear: both;
    float: left;
    margin-right: 12px;
    width: 50%;
}
.item-news.item-1 .post-img img{
    border: none;
}
.item-news.item-1 h2.post-title {
    font-size: 15px;
}
.item-news.item-1 .post-title a {
    color: #337ab7;
    text-transform: uppercase;
}
.item-news {
    border-bottom: 1px dotted #ddd;
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.post-img {
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: 175px;
    position: relative;
}
.post-img img{
    border: 2px solid #ddd;
    width: 100%;
}
.item-news h2.post-title{
    font-size: 14px;
    line-height: 20px;
}
/*
.item-news .post-title a {
    color: #333;
}*/
.item-news .post-title a:hover{
    color:#cc0000;
}
.item-news .post-content {
    color: #333;
    font-size: 13px;
    text-align: justify;
}
.item-news.not-border {
    border-bottom: none;
}
.post-format {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 0.5s ease 0s;
    width: 100%;
    z-index: 2;
}
.post-format:hover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.post-format .icon-play,
.post-format .icon-picture {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: scale(0, 0);
    transition: all 0.2s ease 0s;
    width: 40px;
}
.post-format:hover .icon-play,
.post-format:hover .icon-picture{
    transform: scale(1, 1);
}
.list-news-post.video .item-news.item-1{
    float: left!important;
    height: auto;
}
.list-news-post.video .item-news.item-1 .post-img{
    height: auto;
    overflow: none;
}
.video .item-news.not-border {
    clear: none;
    display: inline-block;
    float: left;
    height: 250px;
    margin-right: 10px;
    overflow: hidden;
    width: 32% !important;
}
.item-news.right.not-border {
    float: right;
    margin-right: 0;
}
.video .post-img {
    height: 158px;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
}
.video .post-img img{
    border: none;
}
.video .post-content {
    margin-top: 5px;
}
.content-same-post .same-vieo-list {
    margin-right: -100px;
    width: 100%;
}
.content-same-post .same-vieo-list li {
    clear: none;
    display: inline-block;
    float: left;
    height: 222px;
    margin: 0 12px 15px;
    overflow: hidden;
    width: 30%;
}
.content-same-post .same-vieo-list li a{
    background: none;
    padding: 0;
    margin: 0;
}
.content-same-post .same-vieo-list li .item-news{
    border-bottom: medium none;
    clear: both;
}
.content-same-post .same-vieo-list li .post-title a {
    color: #337ab7;
    text-transform: none;
}
.content-same-post .same-vieo-list li .post-title a:hover {
    color: #cc0000;
}
.content-same-post .same-vieo-list li .post-title{
    clear: both;
}
.content-same-post .same-vieo-list li .post-img {
    height: 125px;
    overflow: hidden;
    width: 100%;
}
.content-same-post .same-vieo-list li .post-img img{
    width: 100%;
    border: none;
}
.line-video-view {
    margin: 10px auto;
    width: 560px;
}
.list-news-post.image {
    margin-right: -13px;
}
.list-news-post.image .item-news {
    clear: none !important;
    float: left;
    height: 292px;
    margin-right: 25px;
    overflow: hidden;
    width: 30% !important;
    border-bottom: none!important;
}
.list-news-post.image .post-data {
    clear: both;
    display: inline-block;
    width: 100%;
}
.list-news-post.image .post-img {
    height: 168px;
    overflow: hidden;
    width: 100%;
}
.list-news-post.image .post-title{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    display: inline;
    width: 100%;
    clear: both;
}
.list-news-post.image .post-title a{
    text-transform: none;
}
.list-news-post.image .post-img img{
    border: none;
}
.view-img-slider {
    margin: 10px auto 0;
    width: 800px;
}
.view-img-slider > i {
    display: inline-block;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: top;
}
.view-img-slider img {
    width: 100%;
    height: 100px;
}
#gallery img {
    cursor: pointer;
}
.bxSliderViewImage {
    clear: both;
    margin-top: 10px;
}

.title-news > i {
    color: #cc0000;
}
/*Ext theme*/
/*Left center right*/
#wrapper-c .site-left{
    display: inline-block;
    float: left;
    width: 230px;
}
#wrapper-c .site-content{
    display: inline-block;
    float: left;
    margin: 0 10px;
    width: 520px;
}
#wrapper-c .site-right{
    width: 230px;
    display: inline-block;
    float: right;
}
/*Left center*/
#wrapper-l .site-left{
    display: inline-block;
    float: left;
    width: 230px;
}
#wrapper-l .site-content {
    display: inline-block;
    float: right;
    margin: 0 0 0 10px;
    width: 820px;
}
#wrapper-l .site-content .content-post-cat ul {
    margin-right: -50px;
}
#wrapper-l .site-content .content-post-cat ul li{
    width: 400px;
}
#wrapper-l .site-content .list-item-slider ul li{
    margin-right: 10px;
    width: 200px;
}
#wrapper-l .site-content .box-slider .img img {
    width: 100%;
}
/*Center right*/
#wrapper-r .site-center{
    display: inline-block;
    float: left;
    margin: 0px;
    width: 755px;
}
#wrapper-r .site-center .content-post-cat ul {
    margin-right: -50px;
}
#wrapper-r .site-center .content-post-cat ul li{
    width: 365px;
}
#wrapper-r .site-center .list-item-slider ul li{
    margin-right: 10px;
    width: 168px;
}
#wrapper-r .site-center .box-slider .img img {
    width: 100%;
}
#wrapper-r .site-right{
    width: 230px;
    display: inline-block;
    float: right;
}
.left-slider {
    border-right: 1px solid #ddd;
    display: inline-block;
    float: left;
    padding-right: 10px;
    width: 525px;
}
/*Center*/
#wrapper-cc .site-center{
    float: none;
    margin: 0 auto;
    width: 590px;
}


/*Comment*/
.box-comment-post .form-comment-post{
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    display: none;
}
.box-comment-post .item-comment{
    display: none;
    width: 100%;
}
.box-comment-post .item-comment.act,
.box-comment-post .form-comment-post.act {
    display: inline-block;
    margin-top: 12px;
}
.form-comment-post input[type='text'] {
    border: 1px solid #ddd;
    padding: 4px;
    width: 90%;
    color: #333;
    font-style: italic;
}
.form-comment-post .control-group {
    display: inline-block;
    vertical-align: top;
    width: 32%;
}
.line-form {
    clear: both;
    margin-bottom: 10px;
}

.line-form label {
    color: #333;
    display: block;
    font-weight: bold;
}
.control-group.textarea{
    width: 100%;
}
.control-group.textarea textarea{
    min-width: 61%;
    max-width: 61%;
    min-height: 100px;
    max-height: 200px;
    border: 1px solid #ddd;
    padding: 4px;
    color: #333;
    font-style: italic;
}

.form-comment-post button {
    background: #077cf5;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
.form-comment-post button:hover{
    background: #0062db;
}
.item-comment {
    clear: both;
    margin-bottom: 5px;
}
.item-comment .c-title {
    clear: both;
    color: #333;
    font-size: 14px;
}
.item-comment .c-title .c-name {
    font-style: italic;
    font-weight: bold;
}
.item-comment .c-title .c-time {
    color: #888;
    font-size: 12px;
    font-style: italic;
}
.item-comment .c-comment {
    clear: both;
    font-size: 14px;
    margin-top: 10px;
}
.item-comment .rep-comment {
    color: #336699;
    font-size: 12px;
}
.list-comment::before {
    border-color: transparent transparent #f3f3f3;
    border-style: solid;
    border-width: 0 10px 9px;
    content: "";
    height: 0;
    left: 12px;
    position: absolute;
    top: -9px;
    width: 0;
}
.list-comment {
    background: #f3f3f3 none repeat scroll 0 0;
    border-radius: 2px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
}
.item-rep {
    clear: both;
    margin-bottom: 10px;
}
label > span {
    color: #ff0000;
}
#floating_banner_left{
    float: left;
    width: 105px;
    z-index: 9;
}
#floating_banner_right{
    float: right;
    width: 105px;
    z-index: 9;
}
.fixed{
    top:0!important;
}

#floating_banner_left img,
#floating_banner_right img{
    width: 100%;
}
.right-slider {
    display: inline-block;
    float: right;
    height: 547px;
    overflow: hidden;
    width: 208px;
}
.list-hot-slider-right li {
    margin: 0 0 5px;
    border-bottom: 1px dotted #e2e2e3;
    width: 100%;
}
.list-hot-slider-right .title-post-hot {
    padding: 0 0 5px;
}
.list-hot-slider-right li .title-post-hot a {
    font: 400 13px arial;
    color: #333;
}
.list-hot-slider-right li .title-post-hot a:hover{
    color: #337ab7;
}
.list-hot-slider-right li.first-3{
    border-bottom: 1px solid #e2e2e3;
}
.list-hot-slider-right li.first-3 .title-post-hot a{
    font-weight: bold;
}
.list-hot-slider-right li:last-child{
    border-bottom: none;
}
.list-hot-slider-right li.first-3 .img-post-hot > img {
    max-width: 208px;
}
#gallery .bx-wrapper .img {
    height: 370px;
    overflow: hidden;
}
.note-empty{
    font-style: italic;
}
.box-content-list-view h1.title-news.show {
    display: block;
}
.list-news-post-services table{
    border:0px;
    width:100%;
    text-align: left;
}
.list-news-post-services table tbody {
    border-top: medium none;
}
.cat-name{
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    position: relative;
    text-align: justify;
    text-transform: uppercase;
}
.cat-name span {
    background: #ec3d23 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 8pt;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}
.tbldocument {
    margin-left: 35px;
    width: 95% !important;
}
.list-news-post-services table tbody td {
    vertical-align: top;
    padding: 5px 0;
}
.list-news-post-services table tbody td .lnkdocument{
    background: rgba(0, 0, 0, 0) url("../img/check.png") no-repeat scroll left top;
    color: #3d3d3d;
    display: inline-block;
    min-height: 15px;
    padding-left: 20px;
    text-align: justify;
    width: 90%;
}
.list-news-post-services table tbody td a:hover {
    color: #cc0000;
}
.list-news-post-services table tbody td .lnkdocument span{
    color: #12428a;
}
.list-news-post-services table tbody td .reg-button{
    background-color: #ec3d23;
    background-image: linear-gradient(to bottom, #ec3d23, #d44141);
    background-image: -webkit-linear-gradient(to bottom, #ec3d23, #d44141);
    background-image: -moz-linear-gradient(to bottom, #ec3d23, #d44141);
    box-shadow: 0 2px 3px #9d1616 inset;
    border-top: 1px solid #d44141;

    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
}
.list-news-post-services table tbody td .reg-button:hover{
    color: #fff;
    background-color: #dc2d13;
    background-image: linear-gradient(to bottom, #dc2d13, #9d1616);
    background-image: -webkit-linear-gradient(to bottom, #dc2d13, #9d1616);
    background-image: -moz-linear-gradient(to bottom, #dc2d13, #9d1616);
    box-shadow: 0 2px 3px #9d1616 inset;
}
.list-news-post-services hr{
    border:none;
    border-top:solid 1px #e3e3e3;
    border-bottom:solid 1px #fff;
    margin-top:15px;
    margin-bottom:15px;
    width: 70%;
}
.title-news.show span{
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    font-style: normal;
}
.box-content-list-view.focus h1.title-news{
    display: inline-block;
    height: auto;
    width: 100%;
}
.list-news-post-services-view {
    border-top: 1px solid #f2f2f2;
    padding-top: 20px;
}
.list-news-post-services-view .line-focus{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.list-news-post-services-view .line-focus .title-focus {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.left-info-focus{
    display: inline-block;
    width: 50%;
    float: left;
}
.link-dowload-file {
    background: rgba(0, 0, 0, 0) url("../img/download.png") no-repeat scroll 0 center;
    display: inline-block;
    float: right;
    height: 50px;
    padding-left: 55px;
    width: 40%;
}
.line-focus .link-dowload-file a{
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.line-focus .link-dowload-file a:hover{
    color: #cc0000;
}
.link-dowload-file > span {
    white-space: normal;
}
.line-focus input {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    height: 22px;
    padding: 2px;
    width: 50%;
    border-radius: 5px;
}
.line-focus textarea{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    height: 22px;
    padding: 2px;
    width: 50%;
    max-width: 80%;
    min-width: 80%;
    border-radius: 5px;
    min-height: 100px;
}
.line-item-focus {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 200px;
}
.line-item-focus input{
    width: 80%;
}
.line-focus label{
    color: #333;
}
.line-focus label span{
    color: #ff0000;
}
.line-item-focus.email input{
    width: 100%;
}
.reg-button-submit {
    background-color: #ec3d23;
    background-image: linear-gradient(to bottom, #ec3d23, #d44141);
    border-radius: 5px;
    border-top: 1px solid #d44141;
    box-shadow: 0 2px 3px #9d1616 inset;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}
.reg-button-submit:hover{
    color: #fff;
    background-color: #dc2d13;
    background-image: linear-gradient(to bottom, #dc2d13, #9d1616);
    background-image: -webkit-linear-gradient(to bottom, #dc2d13, #9d1616);
    background-image: -moz-linear-gradient(to bottom, #dc2d13, #9d1616);
    box-shadow: 0 2px 3px #9d1616 inset;
}