/*site*/
.header-top{
    height: 150px;
    background: #008fe6 url(../img/bg-firm-header.png) no-repeat top right;
    width:100%;
    overflow: hidden;
}
.wrapp{
    width: 1070px;
    margin: 0 auto;
}
.logo {
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    margin-top: 45px;
    overflow: hidden;
    width: 255px;
}
.logo a{
    background: url(../img/logo.png) no-repeat 0 0;
    display: inline-block;
    height: 51px;
    width: 255px;
    text-indent: -9999em;
}
.right-header {
    display: inline-block;
    float: right;
    height: 140px;
    position: relative;
    width: 50%;
}
.list-lang{
    display: inline-block;
    float: right;
    margin-top: 7px;
}
.list-lang a.vi {
    background: rgba(0, 0, 0, 0) url("../img/icon-lang.png") repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    width: 28px;
    margin-right: 3px;
    text-indent: -9999em;
}
.list-lang a.en {
    background: rgba(0, 0, 0, 0) url("../img/icon-lang.png") repeat scroll -31px 0;
    display: inline-block;
    height: 20px;
    width: 29px;
    text-indent: -9999em;
}
.right-header .search {
    background: #fff none repeat scroll 0 0;
    border-radius: 15px;
    bottom: 0;
    display: inline-block;
    height: 30px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 205px;
}
.right-header .search input.keyword {
    border: medium none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: #222;
    font-style: italic;
    height: 30px;
    width: 165px;
}
.right-header .search .btnSearch{
    background: url(../img/icon-search.png) no-repeat center center;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-indent: -9999em;
    float: right;
    cursor: pointer;
}
.bg-menu{
    background: #0f428d;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.bg-menu li {
    display: inline-block;
    line-height: 39px;
    padding-right: 38px;
    position: relative;
}
.bg-menu li a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.bg-menu li a:hover{
    color: #fff;
    border-bottom: 2px solid #ff6600;
}
.bg-menu li ul.submenu{
    position: absolute;
    background: #0f428d;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    display: none;
    z-index: 2;
    width: 250px;
}
.bg-menu li:hover ul.submenu{
    display: block;
}
.bg-menu li .submenu li {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.bg-menu li .submenu li a {
    font-weight: normal;
}
.bg-menu li .submenu li a:hover{
    border-bottom: 1px solid #ff6600;
}
.bg-content {
    background: #fefeed;
    display: inline-block;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 20px;
}
.box-left{
    width: 230px;
    display: inline-block;
    float: left;
}
.item-box{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    clear: both;
}
.item-box .title-box{
    background: #12428a;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}
.item-box .content-box{
    clear: both;
    background: #eeeeee;
}
.item-box .content-box ul {
    border: 1px solid #e2e2e2;
}
.item-box .content-box li{
     border-bottom: 1px solid #e2e2e2;
}
.item-box .content-box li:last-child{
    border-bottom: none;
}
.item-box .content-box a {
    background: rgba(0, 0, 0, 0) url("../img/icon-firm.png") no-repeat scroll left center;
    color: #222;
    display: inline-block;
    font-weight: bold;
    margin-left: 8px;
    padding: 10px 0 10px 22px;
    width: 93%;
}
.item-box .content-box a:hover{
    text-decoration: underline;
}
.item-box .box-link{
    background: url(../img/bg-box-link.png) no-repeat center center;
    width: 100%;
    height: 87px;
    line-height: 87px;
    text-align: center;
}
.item-box .box-link a{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    display: block;
}
.item-box .item-ads{
    margin-bottom: 10px;
    clear: both;
}
.item-box .item-ads img{
    width: 100%;
}
.box-center {
    display: inline-block;
    float: left;
    margin: 0 10px;
    width: 590px;
}
.box-center .box-slider .item-slider{
    position: relative;
}
.list-item-slider {
    clear: both;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.list-item-slider ul{
    margin-right: -50px;
}
.list-item-slider ul li {
    display: inline-block;
    float: left;
    margin-right: 11px;
    width: 188px;
}
.list-item-slider ul li img{
    border:2px solid #e2e2e2;
    border-radius: 2px;
    width: 188px;
    overflow: hidden;
    height: 120px;
}
.list-item-slider ul li .title{
    clear: both;
    margin-top: 10px;
    height: 35px;
    overflow: hidden;
    width: 100%;
}
.list-item-slider ul li .title a{
    color: #333333;
}
.list-item-slider ul li .title a:hover{
    text-decoration: underline;
}
.banner-center{
    clear: both;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.banner-center img{
    width: 100%;
}
.content-post-cat{
    clear: both;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.content-post-cat ul{
    margin-right: -20px;
}
.content-post-cat ul li {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 285px;
}
.content-post-cat .title-cat{
    display: inline-block;
    border-bottom: 2px solid #abc9ff;
    width: 100%;
    position: relative;
}
.content-post-cat .title-cat a{
    color: #09267a;
    font-size: 18px;
    display: block;
    clear: both;
}
.content-post-cat .title-cat span{
    position: absolute;
    bottom: -2px;
    width: 45%;
    display: inline-block;
    border-bottom: 2px solid #ff6600;
    clear: both;
}
.content-post-cat .content-cat{
    clear: both;
    margin-top: 8px;
    border:2px solid #e2e2e2;
    position: relative;
}
.content-post-cat .content-cat .thumb{
    position: relative;
    height: 182px;
    overflow: hidden;
    width: 100%;
}
.content-post-cat .content-cat img {
    height: 100%;
    width: 100%;
}
.content-post-cat .content-cat .title {
    background: rgba(0, 0, 0, 0) url("../img/bg-cat-title.png") repeat-x scroll 0 0;
    bottom: 0px;
    height: 36px;
    overflow: hidden;
    position: absolute;
}
.content-post-cat .content-cat .title a {
    display: inline-block;
    padding: 2px;
    width: 100%;
    font-weight: bold;
}
.content-post-cat .content-cat .title a:hover{
    color: #fff;
    text-decoration: underline;
}
.content-post-cat .list-content-cat {
    background: #f4f4f4;
    display: inline-block;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-top: none;
    overflow: hidden;
}
.content-post-cat .list-content-cat li{
    clear: both;
    border-bottom: 1px dashed #e2e2e2;
}
.content-post-cat .list-content-cat li:last-child{
    border-bottom: none;
}
.content-post-cat .list-content-cat li a {
    background: rgba(0, 0, 0, 0) url("../img/dot-red.png") no-repeat scroll left center;
    color: #333333;
    display: block;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 15px;
}
.content-post-cat .list-content-cat li a:hover{
    text-decoration: underline;
}
.box-right{
    width: 230px;
    display: inline-block;
    float: right;
}
.item-box.ext .content-box a {
    background: rgba(0, 0, 0, 0) url("../img/icon-firm-right.png") no-repeat scroll left center;
    color: #222;
    display: inline-block;
    font-weight: bold;
    margin-left: 8px;
    padding: 10px 0 10px 22px;
    width: 93%;
}
.box-right .video{
    border: 2px solid #e2e2e2;
    overflow: hidden;
    width: 100%;
}
.box-right .video img{
    width: 100%;
}
.bg-footer{
    background: #077cf5 url(../img/bg-firm-footer.png) no-repeat top right;
    width:100%;
    padding: 20px 0;
    display: inline-table;
}
.address {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 14px;
    width: 50%;
}
/*detail*/
.bg-content-detail{
    background: #fff;
    display: inline-block;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 20px;
}
.box-center-right{
    width: 830px;
    display: inline-block;
    float: right;
}
.link-breadcrumb {
    background: #eaecef none repeat scroll 0 0;
    padding: 5px 8px;
    text-transform: none;
    color: #333;
}
.link-breadcrumb a {
    display: inline-block;
    font-size: 12px;
    color: #333;
}
.link-breadcrumb a:hover {
    text-decoration: underline;
}
.box-content-view {
    margin-top: 5px;
    clear: both;
}
.box-content-view .title{
    border-bottom: 2px solid #abc9ff;
    display: inline-block;
    position: relative;
    width: 100%;
}
.box-content-view .title a {
    clear: both;
    color: #09267a;
    display: block;
    font-size: 18px;
}
.box-content-view .title span {
    border-bottom: 2px solid #ff6600;
    bottom: -2px;
    clear: both;
    display: inline-block;
    position: absolute;
    width: 30%;
}
.line-save {
    clear: both;
    margin-top: 10px;
}
.line-save div{
     margin-right: 20px;
}
.line-save .bookmark {
    background: rgba(0, 0, 0, 0) url("../img/bookmark.png") no-repeat scroll 3px 5px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    height: 23px;
    padding: 2px 7px 5px 20px;
    vertical-align: top;
}
.line-save .print {
    background: rgba(0, 0, 0, 0) url("../img/icon-print.png") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
}
.line-save .date-created{
    display: inline-block;
    float: right;
    color: #222;
    float: right;
    font-size: 12px;
    font-style: italic;
}
.line-save .print {
    background: rgba(0, 0, 0, 0) url("../img/icon-print.png") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
}

.line-save .view {
    background: rgba(0, 0, 0, 0) url("../img/icon-view.jpg") no-repeat scroll 0 4px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
}

.line-save .commment {
    background: rgba(0, 0, 0, 0) url("../img/icon-commnet.jpg") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
}
.line-save .back {
    background: rgba(0, 0, 0, 0) url("../img/icon-back.png") no-repeat scroll 0 3px;
    display: inline-block;
    height: 22px;
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #222;
    font-weight: bold;
}

.line-content-view{
    margin-top: 10px;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    color: #222;
    text-align: justify;
}
.line-content-view p{
    margin-bottom: 15px;
    font-size: 14px;
    color: #222;
}
.line-save.ext{
    margin-top: 20px;
    clear: both;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}
.title-same{
    border-bottom: 2px solid #abc9ff;
    display: inline-block;
    position: relative;
    width: 100%;
    color: #0a2679;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
}
.title-same span {
    border-bottom: 2px solid #ff6600;
    bottom: -2px;
    clear: both;
    display: inline-block;
    left: 0;
    position: absolute;
    width: 15%;
}
.content-same-post{
    clear: both;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.content-same-post ul{
    width: 48%;
    float: left;
    margin-right: 10px;
}
.content-same-post ul li{
    display: inline-block;
    width: 100%;
    clear: both;
}
.content-same-post ul li a {
    background: rgba(0, 0, 0, 0) url("../img/dot-red.png") no-repeat scroll left center;
    color: #333333;
    display: block;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 15px;
}
/*Ext*/
/*Left center right*/
#wrapper-c .site-left{
    display: inline-block;
    float: left;
    width: 230px;
}
#wrapper-c .site-content{
    display: inline-block;
    float: left;
    margin: 0 10px;
    width: 590px;
}
#wrapper-c .site-right{
    width: 230px;
    display: inline-block;
    float: right;
}
/*Left center*/
#wrapper-l .site-left{
    display: inline-block;
    float: left;
    width: 230px;
}
#wrapper-l .site-content {
    display: inline-block;
    float: left;
    margin: 0 0 0 10px;
    width: 820px;
}
#wrapper-l .site-content .content-post-cat ul {
    margin-right: -50px;
}
#wrapper-l .site-content .content-post-cat ul li{
    width: 400px;
}
#wrapper-l .site-content .list-item-slider ul li{
    margin-right: 10px;
    width: 200px;
}
#wrapper-l .site-content .box-slider .img img {
    width: 100%;
}
/*Center right*/
#wrapper-r .site-center{
    display: inline-block;
    float: left;
    margin: 0 0 0 10px;
    width: 820px;
}
#wrapper-r .site-center .content-post-cat ul {
    margin-right: -50px;
}
#wrapper-r .site-center .content-post-cat ul li{
    width: 400px;
}
#wrapper-r .site-center .list-item-slider ul li{
    margin-right: 10px;
    width: 200px;
}
#wrapper-r .site-center .box-slider .img img {
    width: 100%;
}
#wrapper-r .site-right{
    width: 230px;
    display: inline-block;
    float: right;
}
/*Center*/
#wrapper-cc .site-center{
    float: none;
    margin: 0 auto;
    width: 590px;
}